@import "tailwindcss";
@import "./assets/fonts/fonts.css";

@theme {
  --font-raleway: "Raleway", sans-serif;
  --font-unbounded: "Unbounded", sans-serif;
}

/* Общий контейнер со скроллом */
.scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #525252 #171717;   /* thumb / track */
}

/* Chrome / Edge / Safari */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #262626;
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 8px;
  border: 2px solid #262626;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #737373;
}
